$aBlue: #A4B0F5;
$woodBrown: #D7B377;
$cream: #F8F4E3;
$orange: #FC814A;
$black: #191923;
$rose: #FFA5A5;
$yellow: #F9DF74;
$spink: #BD4089;

h1 {
    color: $yellow
}

h2 {
    color: $cream
}

h3 {
    font-size: 24px
}

p {
    font-size: 24px;
}

li {
    font-size: 20px;
}

.select-user {
    fonst-size: 30px
}



